<div class="mainfooter">
    <div class="aboutus">
      <h3>HOT NEWS</h3>
      <h4>1810 Ironstone,Burilgton,<br>
        ON L7L 5V3,Canada</h4>
      <h4>Telephone:+1 905 593 1417</h4>
      <h4>Email:info@hotnews.com</h4>
      <h4>&copy;HotNews All rights reserved</h4>
    </div>
  
    <div class="categories">
      <h3>CATEGORIES</h3>
      <ul>
        <li>General</li>
        <li>Sports</li>
        <li>Technology</li>
        <li>Business</li>
        <li>Entertainment</li>
        <li>Health</li>
        <li>Science</li>
      </ul>
    </div>
    <div class="svg">
      <img src="assets/footer.svg.svg" alt />
    </div>
    <button class="up-arrow" (click)="scrollToTop()" *ngIf="showUpArrow"><i class="fa fa-arrow-up"></i></button>
  </div>
  <div class="social-icons">
    <a href="#"  title="facebook"> 
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
    <a href="#" title="twitter"> 
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </a>
    <a href="#" title="instagram">  
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a href="#" title="youtube">
      <i class="fa fa-youtube-square" aria-hidden="true"></i>
    </a>
    <a href="#" title="linkedin">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
    <a href="#" title="pinterest">
      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
    </a>
    <a href="#" title="camera">
      <i class="fa fa-camera-retro" aria-hidden="true"></i>
    </a>
  </div>