h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: white;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}
.twelve h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}
.twelve h1::before {
  background-color: #c50000;
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}
.twelve h1::after {
  background-color: #c50000;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}
.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  background: #19212a;
  color: #fff;
  padding: 40px 20px;
  .pointer {
    font-size: 22px;
    font-weight: 400;
    &:hover {
      cursor: pointer;
    }
  }
  button {
    margin: 0 5px;
  }
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  mat-form-field{
    width: 23%;
    margin-bottom: -15px;
    .mat-mdc-text-field-wrapper{
      background-color: #19212a;
    }
  }
  .categories-list {
    display: flex;
    align-self: center;
    input[type="radio"] {
      padding: 0.5em;
      -webkit-appearance: none;
      outline: 0.1em solid white;
      outline-offset: 0.1em;
    }

    input[type="radio"]:checked {
      display: inline-block;
      background-color: whitesmoke;
    }
    .category-item {
      margin: 0 10px;
      input {
        margin-right: 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .label {
    align-self: center;
    margin: 0 5px 0 15px;
  }
  select {
    padding: 8px;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 3px;
    margin: 0 5px;
  }
  input {
    border: none;
    padding: 0 10px;
    border-radius: 3px;
    outline: none;
    margin-left: 4px;
  }
  button {
    border: none;
    background: transparent;
    margin: 4px 0 0 -34px;
    &:hover {
      cursor: pointer;
    }
  }
}
