<div class="nav">
    <span routerLink="/" class="pointer" style="cursor: pointer;">
        <div class="twelve">
            <h1>HotNews</h1>
        </div></span>
    <div class="btns">
        <button class="button login" routerLink="/login">
            <svg
                class="svg-icon"
                fill="none"
                height="20"
                viewBox="0 0 20 20"
                width="20"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    clip-rule="evenodd"
                    d="m9.99998 4.16667c1.38072 0 2.50002 1.11929 2.50002 2.5 0 .85577-.4293 1.6115-1.088 2.06341l-.4536.31125.1079.53934 1.2505 6.25263h-4.63366l1.25051-6.25263.10791-.53934-.45358-.31125c-.65876-.45191-1.088-1.20764-1.088-2.06341 0-1.38071 1.11925-2.5 2.5-2.5zm-2.31684 11.66663-.19934.9968-.81715-.1634v-.8334zm5.65016.8334v-.8334h-1.0165l.1993.9968zm.8172-.1634.1993.9967h-1.0165-6.66665-1.0165l.19935-.9967 1.35023-6.75127c.14013.12727.28892.24506.44536.35237l.47144-.68715-.81716-.16342-.09964.4982c-.83832-.76139-1.36642-1.86163-1.36642-3.08536 0-2.30119 1.86549-4.16667 4.16667-4.16667 2.30112 0 4.16662 1.86548 4.16662 4.16667 0 1.22374-.5281 2.32399-1.3664 3.08538l-.0996-.49822-.8172.16342-.4714-.68717.4714.68717-.8171.16342.8171-.16342.4715.68715c.1564-.1073.3052-.22509.4453-.35235z"
                    fill="#fff"
                    fill-rule="evenodd"></path>
            </svg>
            <span class="lable">Login</span>
        </button>
        <button class="signup" routerLink="/registration">
            Sign up
            <div class="arrow-wrapper">
                <div class="arrow"></div>
            </div>
        </button>
    </div>
</div>
<div class="container">
    <div class="svg">
        <img src="assets/index_svg.svg" alt="Snow" />
    </div>
    <div class="textFlow">
        <h1>
            <span>always stay</span>
            <div class="message">
                <div class="word1">ahead</div>
                <div class="word2">uplift</div>
                <div class="word3">engage</div>
                <div class="word3">inspire</div>
            </div>
        </h1>
        <p>
            Stay ahead with our news app for the latest updates, anytime,
            anywhere.
        </p>
        <p>
            Our comprehensive news application brings you a wide range of
            breaking
            news, in-depth analysis, and thought-provoking articles. With
            real-time
            notifications, personalized content, and user-friendly interface,
            you'll
            never miss a beat. Stay informed, engaged, and empowered with our
            news app
            today.
        </p>
        <button routerLink="/index">Read News</button>
    </div>
</div>
<div class="articles">
    <h1>Global Live News</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa!</p>
    <div class="section">
        <div class="sec">
            <div class="head">
                <div class="subArticle">
                    <div class="data">
                        <h1>Serious Accident Involving Truck and Car Reported in
                            US</h1>
                        <p class="firstPara">A major collision between a truck
                            and a car occurred today in the United States,
                            resulting in significant damage to both vehicles.
                            Emergency services are on the scene, and the
                            authorities are investigating the cause of the
                            accident.</p>
                        <p>Author: <span>Ron Williams</span></p>
                        <p>Published by: <span>News Today</span></p>
                        <button routerLink="/index">Read News</button>
                    </div>
                    <div class="image">
                        <img src="assets/image1.jpg" alt="image not fount">
                    </div>
                </div>
                <h1>
                    <img src="assets/driving.gif" alt>
                </h1>
            </div>
        </div>
        <div class="sec">
            <div class="head">
                <h1>
                    <img src="assets/stars.gif" alt>
                </h1>
                <div class="subArticle">
                    <div class="data">
                        <h1>Breaking News: Stunning Discoveries in the Galaxy
                            Unveiled</h1>
                        <p class="firstPara">Astounding revelations about the
                            galaxy have emerged, captivating scientists and
                            space enthusiasts alike. Researchers in the United
                            States have made groundbreaking discoveries shedding
                            light on the mysteries of distant galaxies,
                            providing unprecedented insights into the vastness
                            of our universe.</p>
                        <p>Author: <span>Jimmy Harris</span></p>
                        <p>Published by: <span>National Astronomy Gazette</span></p>
                        <button routerLink="/index">Read News</button>
                    </div>
                    <div class="image">
                        <img src="assets/image2.jpg" alt="image not fount">
                    </div>
                </div>
            </div>
        </div>
        <div class="sec">
            <div class="head">
                <div class="subArticle">
                    <div class="data">
                        <h1>Sensational Performance by Ashvin in Cricket Match
                            Shocks Opponents</h1>
                        <p class="firstPara">Ashvin, the talented bowler from
                            the United States, delivered an exceptional
                            performance in a recent cricket match, leaving the
                            opposition stunned. With his remarkable skills and
                            strategic balling techniques, Ashvin displayed
                            absolute mastery over the game, taking crucial
                            wickets and disrupting the opponent's batting lineup</p>
                        <p>Author: <span>Ravi Bhabha</span></p>
                        <p>Published by: <span>Sports Chronicle</span></p>
                        <button routerLink="/index">Read News</button>
                    </div>
                    <div class="image">
                        <img src="assets/image3.jpg" alt="image not fount">
                    </div>
                </div>
                <h1><img src="assets/dance.gif" alt></h1>
            </div>
        </div>
    </div>
</div>
<div class="whyus">
    <h1>Why HotNews</h1>
    <p>HotNews provides timely and relevant news updates from around the world,
        keeping you informed and connected. Stay updated with the latest events,
        developments, and stories that matter to you.</p>
    <div class="combine">
        <div class="data">
            <div class="reason">
                <h1>Global News</h1>
                <p>Explore a diverse range of news topics, covering global
                    affairs, politics, economy, technology, entertainment, and
                    more. Stay informed about international events and gain
                    insights into different cultures and perspectives.</p>
            </div>
            <div class="reason">
                <h1>Save and Organize Your Reads</h1>
                <p> HotNews lets you save articles for later, ensuring you never
                    miss essential news and stories. Create your personal
                    collection with just one click.</p>
            </div>
            <div class="reason">
                <h1>Share News Instantly</h1>
                <p> Share breaking news and captivating articles across your
                    social media networks seamlessly with HotNews. Stay
                    connected and spread awareness effortlessly.</p>
            </div>
            <div class="reason">
                <h1>Authentication</h1>
                <p>Secure and personalize your news experience with HotNews'
                    authentication feature. Create an account to access
                    additional features such as saving articles.</p>
            </div>
        </div>
        <div class="column"></div>
        <div class="gif">
            <img src="assets/mobile.gif" alt>
            <button routerLink="/index"
                style="margin-left: auto; margin-right: auto;">Read News</button>
        </div>
    </div>
</div>
<footer>1810 Ironstone,Burilgton | ON L7L 5V3 | Email:info@hotnews.com |
    &copy;HotNews All rights reserved</footer>