h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: black;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}
.twelve h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
  padding-top: 20px;
  color: white;
}
.twelve h1::before {
  background-color: #c50000;
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}
.twelve h1::after {
  background-color: #c50000;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: -8px;
  top: 0;
  box-shadow: 40px -1px 23px 3px lightblue;
  padding: 0px 15px;
  background: #19212a;
  // background: linear-gradient(
  //   90deg,
  //   rgba(255, 255, 255, 0.01453081232492992) 17%,
  //   rgba(0, 6, 36, 0.364670868347339) 34%,
  //   rgba(0, 212, 255, 1) 100%
  // );
  .logo {
    display: flex;
    img {
      height: 90px;
    }
    h1 {
      background: #ff0000;
      background: linear-gradient(to left, #ff0000 0%, #000000 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .btns {
    display: flex;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
    justify-content: space-evenly;
  }
}
button {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #fff;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  height: 30px;
  height: 40px;
  width: 40%;
  display: flex;
  justify-content: center;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  color: black;
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid black;
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  color: #000000;
  background-color: var(--hover-color);
  cursor: pointer;
}

button:hover .arrow {
  color: black;
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
  color: #000000;
}

//   ==============================================================

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 32px;
  width: 90px;
  border: none;
  background: #a549dacb;
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  width: 40%;
}

.lable {
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.svg-icon {
  width: 20px;
  height: 20px;
}

.button:hover {
  background: #a649da;
}

.button:hover .svg-icon {
  animation: rot 0.5s linear infinite;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

// ================================================
.container {
  margin-top: 5%;
  display: flex;
  .textFlow {
    width: 55%;
    h1 {
      span {
        font-size: 50px;
      }
    }
    p {
      margin-left: 40px;
      font-size: 22px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    button {
      position: relative;
      display: inline-block;
      margin: 15px;
      padding: 9px 30px;
      text-align: center;
      font-size: 18px;
      letter-spacing: 1px;
      text-decoration: none;
      color: #725ac1;
      background: transparent;
      cursor: pointer;
      transition: ease-out 0.5s;
      border: 2px solid #725ac1;
      border-radius: 10px;
      box-shadow: inset 0 0 0 0 #725ac1;
      margin-left: 40px;
    }

    button:hover {
      color: white;
      box-shadow: inset 0 -100px 0 0 #725ac1;
    }

    button:active {
      transform: scale(0.9);
    }
  }
  .svg {
    width: 45%;
    img {
      width: 70%;
    }
  }
  h1 {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    // width: 700px;
    margin-bottom: 75px;
  }

  h1 span {
    font-size: 38px;
    margin-left: 40px;
  }

  .message {
    margin-left: -35px;
    .word1 {
      font-size: 33px;
    }
    background-image: linear-gradient(
      to left top,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    color: #fff;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 300px;
    animation: openclose 5s ease-in-out infinite;
  }

  .word1,
  .word2,
  .word3 {
    font-family: tahoma;
  }

  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
}

.whyus {
  h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -15px;
    padding-bottom: 30px;
  }
  p {
    font: normal normal 100 23px/30px Roboto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
  }
  h1 {
    text-align: center;
    color: #f05e23;
  }
  .data {
    width: 40%;
    .reason {
      h1 {
        font-size: 38px;
      }
      p {
        font-size: 18px;
        width: 100%;
      }
    }
  }
  .combine {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    .gif {
      img {
        width: 100%;
      }
    }
    .column {
      width: 5px;
      background-color: #f05e23;
      height: 550px;
      margin-top: auto;
      margin-block: auto;
      border-radius: 45%;
    }
  }
}
.articles {
  background-color: #19212a;
  h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -15px;
    padding-top: 30px;
  }
  p {
    font: normal normal 100 27px/30px Roboto;
  }
  h1,
  p {
    text-align: center;
    color: #f05e23;
  }

  .section {
    .sec {
      .head {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        .subArticle {
          display: flex;
          justify-content: center;
          background: white;
          width: 70%;
          margin-left: auto;
          margin-right: auto;
          padding: 3px 60px;
          border-radius: 160px 15px 15px 15px;
          margin-top: 15px;
          margin-bottom: 25px;
          .data {
            width: 60%;
            padding: 15px;
            h1 {
              font-size: 25px;
              font-weight: 100;
              width: 100%;
            }
            p {
              font-size: 20px;
            }
            .firstPara {
              color: black;
            }
            h1,
            p {
              text-align: left;
            }
          }
          .image {
            // width: 30%;
            // height: 80%;
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 85px 0 0 8px;
            img {
              height: 210px;
              width: 250px;
              box-shadow: 7px 7px 11px 7px;
            }
          }
        }
        h1 {
          width: 30%;
          margin-top: auto;
          margin-bottom: auto;
          img {
            width: 60%;
          }
        }
      }
    }
  }
}

footer {
  background-color: #19212a;
  color: white;
  font-weight: 600;
  text-align: center;
  word-spacing: 8px;
  padding: 15px;
  font-size: 18px;
}
//========================================================================================================================================
//========================================================================================================================================
//========================================================================================================================================

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .nav {
    height: 70px;
    .logo {
      img {
        height: 60px;
        margin-top: 8px;
      }
      h1 {
        font-size: 25px;
        align-self: center;
      }
    }
    .btns {
      width: 50%;
    }
  }
  .container {
    flex-direction: column-reverse;
    .textFlow {
      width: 98%;
      h1 {
        font-size: 2.5rem;
        line-height: 1.7;
        span {
          font-size: 35px;
        }
      }
      p {
        font-size: 18px;
      }
    }
    .svg {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .articles {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
    }
    .section {
      .sec {
        .head {
          .subArticle {
            flex-direction: column;
            padding: 0;
            border-radius: 80px 5px 5px 5px;
            width: 90%;
            .data {
              width: 100%;
              h1 {
                font-size: 17px;
                width: 98%;
              }
              p {
                font-size: 15px;
                line-height: 20px;
                width: 90%;
              }
              img {
                display: none;
              }
            }
            .image {
              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .whyus {
    h1 {
      font-size: 35px;
      margin-top: 15px;
      margin-bottom: -30px;
    }
    p {
      font-size: 17px;
    }
    .combine {
      .data {
        .reason {
          h1 {
            font-size: 20px;
          }
          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
      .gif {
        width: 40% !important;
        img {
          height: 50%;
        }
        button {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
        }
      }
    }
  }
  footer {
    font-size: 15px;
    font-weight: 100;
  }
}

/* Small screen devices (595px and above) */
@media only screen and (min-width: 595px) {
  .nav {
    height: 70px;
    .logo {
      img {
        height: 60px;
        margin-top: 8px;
      }
      h1 {
        font-size: 25px;
        align-self: center;
      }
    }
    .btns {
      width: 50%;
    }
  }
  .container {
    flex-direction: column-reverse;
    .textFlow {
      width: 100%;
      h1 {
        margin-bottom: 30px;
        height: 66px;
        span {
          font-size: 30px;
          margin-left: 4%;
        }
        .message {
          margin-left: -75px;
          .word1 {
            font-size: 43px;
          }
        }
      }
      p {
        font-size: 18px;
      }
      button {
        font-size: 12px;
        letter-spacing: 0;
      }
    }
    .svg {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .articles {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
    }
    .section {
      .sec {
        .head {
          .subArticle {
            flex-direction: column;
            padding: 0;
            border-radius: 80px 5px 5px 5px;
            width: 90%;
            .data {
              width: 100%;
              h1 {
                font-size: 17px;
                width: 98%;
              }
              p {
                font-size: 15px;
                line-height: 20px;
                width: 90%;
              }
              img {
                display: none;
              }
            }
            .image {
              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .whyus {
    h1 {
      font-size: 35px;
      margin-top: 15px;
      margin-bottom: -30px;
    }
    p {
      font-size: 17px;
    }
    .combine {
      .data {
        .reason {
          h1 {
            font-size: 20px;
          }
          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
        .gif {
          width: 40%;
          img {
            height: 50%;
          }
          button {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
          }
        }
      }
    }
  }
  footer {
    font-size: 15px;
    font-weight: 100;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .nav {
    height: 70px;
    .logo {
      img {
        height: 60px;
        margin-top: 8px;
      }
      h1 {
        font-size: 25px;
        align-self: center;
      }
    }
    .btns {
      width: 50%;
    }
  }
  .container {
    .textFlow {
      h1 {
        margin-bottom: 30px;
        span {
          font-size: 30px;
          margin-left: 4%;
          .message {
            margin-left: -95px;
          }
        }
      }
      p {
        font-size: 18px;
      }
      button {
        font-size: 12px;
        letter-spacing: 0;
      }
    }
    .svg {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .articles {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
    }
    .section {
      .sec {
        .head {
          .subArticle {
            flex-direction: column;
            padding: 0;
            border-radius: 80px 5px 5px 5px;
            width: 90%;
            .data {
              width: 100%;
              h1 {
                font-size: 17px;
                width: 98%;
              }
              p {
                font-size: 15px;
                line-height: 20px;
                width: 90%;
              }
              img {
                display: none;
              }
            }
            .image {
              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .whyus {
    h1 {
      font-size: 35px;
      margin-top: 15px;
      margin-bottom: -30px;
    }
    p {
      font-size: 17px;
    }
    .combine {
      .data {
        .reason {
          h1 {
            font-size: 20px;
          }
          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
        .gif {
          width: 40%;
          img {
            height: 50%;
          }
          button {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
          }
        }
      }
    }
  }
  footer {
    font-size: 15px;
    font-weight: 100;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .nav {
    height: 70px;
    padding: 0 35px;
    .logo {
      img {
        height: 60px;
        margin-top: 8px;
      }
      h1 {
        font-size: 25px;
        align-self: center;
      }
    }
    .btns {
      width: 25%;
      button {
        width: 100%;
      }
    }
  }
  .container {
    .textFlow {
      h1 {
        span {
          .message {
            margin-left: -90px;
          }
        }
      }
    }
    .svg {
      width: 85%;
    }
  }
  .articles {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 22px;
    }
    .section {
      .sec {
        .head {
          .subArticle {
            flex-direction: row;
            .data {
              h1 {
                font-size: 20px;
              }
              p {
                font-size: 17px;
              }
            }
            .image {
              img {
                display: block;
                margin-right: 18px;
              }
            }
          }
        }
      }
    }
  }
  .whyus {
    h1 {
      font-size: 35px;
      margin-top: 15px;
      margin-bottom: -30px;
    }
    p {
      font-size: 17px;
    }
    .combine {
      .data {
        .reason {
          h1 {
            font-size: 20px;
          }
          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
        .gif {
          width: 40%;
          img {
            height: 50%;
          }
          button {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
          }
        }
      }
    }
  }
  footer {
    font-size: 15px;
    font-weight: 100;
  }
}

/* Extra big screen devices (1000px and above) */
@media only screen and (min-width: 1000px) {
  .nav {
    .btns {
      width: 20%;
      display: flex;
      justify-content: space-between;
      button {
        width: 80%;
      }
    }
  }
  .container {
    flex-direction: row;
    .textFlow {
      button {
        font-size: 20px;
      }
      h1 {
        span {
          .message {
            margin-left: -90px;
          }
        }
      }
    }
    .svg {
      width: 85%;
      img {
        width: 80%;
      }
    }
  }
  .articles {
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 30px;
    }
    .section {
      .sec {
        .head {
          .subArticle {
            .image {
              img {
                display: block;
                margin-right: 18px;
              }
            }
          }
        }
      }
    }
  }
  .whyus {
    h1 {
      font-size: 50px;
      margin-top: 15px;
      margin-bottom: -30px;
    }
    p {
      font-size: 25px;
    }
    .combine {
      .data {
        margin-top: auto;
        margin-block: auto;
        .reason {
          h1 {
            font-size: 35px;
          }
          p {
            font-size: 18px;
          }
        }
        .gif {
          width: 40%;
          img {
            height: 50%;
          }
          button {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
          }
        }
      }
    }
  }
}
