<h1>Hot News - Top headlines from {{ category }} category {{ country }}</h1>
<div class="article-grid">
  <div class="article-card" *ngFor="let article of filteredArticles">
    <!-- <img class="article-image" [src]="article.imageUrl" alt="Article Image"> -->
    <img
      *ngIf="article.urlToImage"
      [src]="article.urlToImage"
      alt="Article Image"
    />
    <img
      *ngIf="!article.urlToImage"
      src="assets/no_img.jpg"
      alt="Default Image"
    />
    <div class="article-content">
      <h2 class="article-title">{{ article.title }}</h2>
      <p>Date: {{ formatDate(article.date) }}</p>
      <p>Author: {{ article.author || "Unknown" }}</p>
      <p class="article-description">
        {{ article.description }}
      </p>

      <a class="read-more-btn" [href]="article.url" target="_blank"
        >Read More</a
      >
    </div>
  </div>
  <p class="no-articles-found" *ngIf="filteredArticles.length === 0">
    No articles found.
  </p>
</div>
