h1 {
  text-align: center;
  background: linear-gradient(to right, red, blue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-top: 3%;
}
.article-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  width: 300px; /* Adjust the width as needed */
  img{
    height: 250px;
  }
}

.article-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.article-content {
  flex: 1;
}

.article-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.article-description {
  margin-bottom: 10px;
}

.read-more-btn {
  display: inline-block;
  padding: 10px 10px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.read-more-btn:hover {
  background-color: rgb(42, 41, 41);
}

.no-articles-found {
  text-align: center;
  color: #ff0000;
  font-weight: bold;
  margin-top: 10px;
}

//   .article-grid {

//   }

.article-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  justify-content: space-evenly;
  .article-card {
    flex-basis: 300px;
  }
}
