<!-- share-popup.component.html -->
<div class="share-popup">
    <h3>Share this article</h3>

    <div class="social-icons">
        <button (click)="copyLink()"><mat-icon>file_copy</mat-icon>
        </button>
        <div class="social">

            <a href="whatsapp://send?text={{ articleUrl }}" target="_blank"><i class="fa fa-whatsapp"></i></a>

        </div>
        <div class="social">

            <a
                href="https://www.facebook.com/sharer/sharer.php?u={{ articleUrl }}"
                target="_blank"> <i class="fa fa-facebook"></i> </a>
        </div>
        <div class="social">

            <a href="https://twitter.com/intent/tweet?url={{ articleUrl }}"
                target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="social">

            <a href="https://plus.google.com/share?url={{ articleUrl }}"
                target="_blank"><i class="fa fa-google"></i></a>
        </div>
        <div class="social">

            <a href="https://www.linkedin.com/shareArticle?url={{ articleUrl }}"
                target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="social">

            <a href="https://www.youtube.com/share?url={{ articleUrl }}"
                target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
        <div class="social">

            <a href="https://www.instagram.com/share?url={{ articleUrl }}"
                target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="social">

            <a
                href="https://pinterest.com/pin/create/bookmarklet/?url={{ articleUrl }}"
                target="_blank"><i class="fa fa-pinterest"></i></a>
        </div>
        <div class="social">

            <a href="https://www.snapchat.com/share?url={{ articleUrl }}"
                target="_blank"><i class="fa fa-snapchat-ghost"></i></a>
        </div>
        <div class="social">

            <a href="https://web.skype.com/share?url={{ articleUrl }}"
                target="_blank"><i class="fa fa-skype"></i></a>
        </div>
        <div class="social">

            <a href="https://www.android.com/sharing?link={{ articleUrl }}"
                target="_blank"><i class="fa fa-android"></i></a>
        </div>
        <div class="social">

            <a href="https://dribbble.com/share?url={{ articleUrl }}"
                target="_blank"><i class="fa fa-dribbble"></i></a>
        </div>
        <div class="social">

            <a href="https://vimeo.com/share?url={{ articleUrl }}"
                target="_blank"><i class="fa fa-vimeo"></i></a>
        </div>
        <div class="social">

            <a
                href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ articleUrl }}&title=News"
                target="_blank"><i class="fa fa-tumblr"></i></a>
        </div>
        <div class="social">

            <a href="https://vine.co/share?url={{ articleUrl }}" target="_blank"><i
                    class="fa fa-vine"></i></a>
        </div>
        <div class="social">

            <a href="https://foursquare.com/intent/tip?url={{ articleUrl }}"
                target="_blank"><i class="fa fa-foursquare"></i></a>
        </div>
        <div class="social">

            <a href="https://www.stumbleupon.com/submit?url={{ articleUrl }}"
                target="_blank"><i class="fa fa-stumbleupon"></i></a>
        </div>
        <div class="social">

            <a href="https://www.flickr.com/app?referer={{ articleUrl }}"
                target="_blank"><i class="fa fa-flickr"></i></a>
        </div>
        <div class="social">

            <a href="http://compose.mail.yahoo.com/?body={{ articleUrl }}"
                target="_blank"><i class="fa fa-yahoo"></i></a>
        </div>
        <div class="social">

            <a
                href="https://www.reddit.com/submit?url={{ articleUrl }}&title=News"
                target="_blank"><i class="fa fa-reddit"></i></a>
        </div>
        <div class="social">

            <a href="https://www.example.com/rss?url={{ articleUrl }}"
                target="_blank"><i class="fa fa-rss"></i></a>
        </div>
    </div>

</div>
