
<div class="head">
  <h1>Welcome to HotNews</h1>
</div>
<div class="toggle" style="display: flex;
justify-content: end;
width: 95%;
margin-top: 1%;">
  <app-toogle></app-toogle>
</div>
<div class="login">
  <div class="svg">
    <img src="assets/login_svg.svg" alt />
  </div>
  <div class="login_form">
    <h1>Login Here</h1>
    <form (submit)="login()">
      <p>{{ alertMessage }}</p>
      <label for>Enter Email</label>
      <input
        type="email"
        id="email"
        placeholder="Email*"
        [(ngModel)]="email"
        name="email" />
      <label for>Enter Password</label>
      <input
        type="{{ isPasswordVisible ? 'text' : 'password' }}"
        id="password"
        placeholder="Password*"
        [(ngModel)]="password"
        name="password" />
      <i
        class="far fa-eye-slash"
        [ngClass]="{
          'fa-eye': isPasswordVisible,
          'fa-eye-slash': !isPasswordVisible
        }"
        id="togglePassword"
        (click)="togglePasswordVisibility()"></i>
      <button type="submit">Sign In</button>
    </form>
    <p>New user ? <a routerLink="/registration">Sign Up here</a></p>
  </div>
</div>
