h1 {
  text-align: center;
  background: linear-gradient(to right, red, blue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 2rem;
  border-bottom: 5px solid purple;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  margin-top: 3%;
}
#google_translate_element {
  display: flex;
  padding: 10px;
}
select {
  padding: 10px !important;
  border: none !important;
  background: center !important;
  box-shadow: 1px 8px 19px -1px lightgray !important;
  border-radius: 5px !important;
  margin-bottom: 10px !important;
  outline: none !important;
}
h1 {
  text-align: center;
  background: linear-gradient(to right, red, blue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-top: 3%;
}
.btns {
  display: flex;
  justify-content: space-between;
}
.article-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  img {
    height: 250px;
  }
  .button {
    text-decoration: none;
    font-family: "Inter";
    display: inline-block;
    padding: 0.7rem 1rem;
    border-radius: 0.375rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
  }
  .button.ghost {
    color: red;
    // margin-left: 15px;
  }

  .button.ghost:hover {
    cursor: pointer;
    background: red;
    color: #fff;
  }
}

.article-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.article-content {
  flex: 1;
}

.article-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.article-description {
  margin-bottom: 10px;
}

.read-more-btn {
  display: inline-block;
  padding: 10px 10px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  align-self: center;
}
.save-news-btn {
}

.read-more-btn:hover {
  background-color: rgb(42, 41, 41);
}

.no-articles-found {
  text-align: center;
  color: #ff0000;
  font-weight: bold;
  margin-top: 10px;
}

//   .article-grid {

//   }

.article-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .article-card {
    flex-basis: 300px;
    span{
      width: 25%;
      background: red;
      padding: 2px 9px;
      border-radius: 9px;
      font-size: 13px;
      margin: -32px 0 17px -12px;
      color: white;
      font-weight: 500;
    }
  }
}

li {
  display: block !important;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3% 0;
}
