<form (submit)="update()">
  <label for="firstName">Enter your first name</label>
  <input
    type="text"
    id="firstName"
    placeholder="Enter your first name"
    name="firstName"
    [(ngModel)]="formData.firstName"
    [ngModelOptions]="{ standalone: true }"
    required
  />
  <label for="lastName">Enter your last name</label>
  <input
    type="text"
    id="lastName"
    placeholder="Enter your last name"
    name="lastName"
    [(ngModel)]="formData.lastName"
    [ngModelOptions]="{ standalone: true }"
    required
  />
  <label for="age">Enter your age</label>
  <input
    type="text"
    id="age"
    placeholder="Enter your age"
    name="age"
    [(ngModel)]="formData.age"
    [ngModelOptions]="{ standalone: true }"
    required
  />
  <!-- <label for="country">Select country</label>
  <select id="country" [(ngModel)]="formData.country"
   [ngModelOptions]="{standalone: true}" required>
    <option value="Select country" selected>Select country</option>
  </select> -->
  <label for="contactNumber">Enter your contact Number</label>
  <input
    type="text"
    id="contactNumber"
    placeholder="Enter your contact Number"
    name="contactNumber"
    [(ngModel)]="formData.contactNumber"
    [ngModelOptions]="{ standalone: true }"
    required
  />
  <label for="email">Enter your email</label>
  <input
    type="text"
    id="email"
    placeholder="Enter your email"
    name="email"
    [(ngModel)]="formData.email"
    [ngModelOptions]="{ standalone: true }"
    required
  />
  <button type="submit">Update</button>
  <button (click)="close()">Close</button>
</form>
